:root {
  --primary-background-color: #ffffff;
  --accent-background-color: #2e2f42;
  --brand-color: #4d5ae5;
  --secondary-brand-color: #404bbf;
  --text-color: #434455;
  --light-text-color: #f4f4fd;
}
